# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env.*

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Environment variables
.env

# Build / dist
build/
dist/
*.egg-info/

# Testing
.coverage
htmlcov/

# Misc
*.sqlite3